<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KSRTC Passenger Distribution Heat Map</title>

</head>
<body>
    
    <!-- Placeholder for the map -->
     
    {% if map_html %}
    <div id="map-container">
        {{ map_html|safe }}
    </div>
    {% else %}
    <div>
        <h2>Generating Bus Stop Map...</h2>
        
        <!-- Progress Bar -->
        <div id="progress-container">
            <div id="progress-bar">0%</div>
        </div>
    </div>
    {% endif %}



</body>
</html>
